/* [project]/app/globals.css [app-client] (css) */
* {
  box-sizing: border-box;
}

html {
  font-family: Merriweather, serif;
}

body {
  color: #eee7ea;
  background-color: #363234;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  background-color: #1f1b1d;
  border-radius: 6px;
  width: 80%;
  max-width: 60rem;
  min-height: 85vh;
  margin: 3rem auto;
  padding: 2rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

#main-header {
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 60rem;
  margin: 2rem auto;
  display: flex;
}

#main-header img {
  filter: drop-shadow(0 0 3px #000);
  width: 5rem;
  height: 5rem;
}

#main-header ul {
  gap: 1rem;
  display: flex;
}

#main-header ul a {
  color: #eee7ea;
  border-radius: 4px;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  text-decoration: none;
}

#main-header ul a:hover {
  background-color: #5f5a5c;
}

#main-header ul .cta-link {
  color: #eee7ea;
  background-color: #e32195;
  padding: .5rem 1rem;
  text-decoration: none;
}

#main-header ul .cta-link:hover {
  background-color: #c321e3;
}

#latest-posts {
  margin-top: 2rem;
}

.form-control label, .form-control input, .form-control textarea {
  width: 100%;
  margin-bottom: .25rem;
  display: block;
}

.form-control label {
  color: #c7a7b7;
  font-size: .9rem;
  font-weight: bold;
}

.form-control input, .form-control textarea {
  font: inherit;
  color: #eee7ea;
  background-color: #443f41;
  border: none;
  border-radius: 4px;
  padding: .5rem;
}

.form-actions {
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
  display: flex;
}

.form-actions button {
  font: inherit;
  color: #eee7ea;
  cursor: pointer;
  background-color: #e32195;
  border: none;
  border-radius: 4px;
  padding: .5rem 1rem;
}

.form-actions button:hover {
  background-color: #a80a69;
}

.form-actions button[type="reset"] {
  background-color: rgba(0, 0, 0, 0);
}

.form-actions button[type="reset"]:hover {
  color: #e299b6;
}

.form-errors {
  justify-content: flex-end;
  gap: 1rem;
  display: flex;
}

.form-errors li {
  color: #c882a2;
  margin: .35rem 0;
}

.posts {
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

.post {
  background-color: #131011;
  border: 1px solid #443f41;
  border-radius: 6px;
  gap: 1rem;
  padding: 1rem;
  display: flex;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.post img {
  object-fit: cover;
}

.post-image {
  width: 8rem;
  height: 6rem;
  position: relative;
}

.post-content {
  flex: 1;
}

.post h2, .post p {
  margin: 0;
}

.post header {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  display: flex;
}

.post header p {
  color: #b1a9ac;
  font-size: .9rem;
}

.like-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.like-button svg {
  fill: rgba(0, 0, 0, 0);
  stroke: #e32195;
  width: 1.5rem;
  height: 1.5rem;
}

.like-button:hover svg, .liked .like-button svg {
  fill: #e32195;
}

.liked .like-button:hover svg {
  fill: rgba(0, 0, 0, 0);
}

/*# sourceMappingURL=app_globals_73c37791.css.map*/